.title {
    font-size: 30;
    horizontal-align: center;
    margin: 20;
}

button {
    font-size: 12;
    horizontal-align: center;
}

.message {
    font-size: 20;
    color: #284848;
    horizontal-align: center;
}
.listItem{
    padding:15px 20px;
    color: #353535;
    font-size: 18;
}
ActionBar{
    background-color: #4dff8f;
}
Page{
    background-color: #fff;
}

/*
ListView{
    border-color: red;
    border-width:2;
    height: 300px;
}
Label{
    height: 80px;
    background-color: darkorange;
    color:black;
}*/