
.message {
    font-size: 20;
    color: #284848;
    horizontal-align: center;
}
.listItem{
    padding:10px 20px;
    color: #353535;
    font-size: 18;
}
ActionBar{
    background-color: #79563f;
    color: white;
}
TabView{
    color:white;
}
Switch{
    background-color: red;
    active-color:orange;
}
#containerButtons{
    background-color: #2e37ff;
}
Page{
    background-color: #fff;
}
Image {
   /* margin: 10;
    background-color: red;*/
    width: 30px;
    margin-right:20px;
}
.Hecho{
    background-color: #dcffbc;
}
.subtitle{
    font-size: 20px;

    color: #b75a2d;
    margin-bottom: 10px;
    margin-top: 10px;
}
.coolBoton{
    font-size: 20px;
    color:white;
    border-radius:10;
    width: 40%;
}
.save{
    background-color: #b75a2d;
    margin-right: 10;
}
.cancel{
    background-color: #ff4a2b;
}

/*
ListView{
    border-color: red;
    border-width:2;
    height: 300px;
}
Label{
    height: 80px;
    background-color: darkorange;
    color:black;
}*/