.title {
    font-size: 30;
    horizontal-align: center;
    margin: 20;
}

button {
    font-size: 42;
    horizontal-align: center;
}

.message {
    font-size: 20;
    color: #284848;
    horizontal-align: center;
}
.listItem{
    padding: 10px;
    color:orange;
}
/*
ListView{
    border-color: red;
    border-width:2;
    height: 300px;
}
Label{
    height: 80px;
    background-color: darkorange;
    color:black;
}*/